* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.item {
    /*display: inline;*/
    /*display: block;*/
    /*display: inline-block;*/
    /*display: none;*/
   
    width: 100px;
    height: 100px;
    background-color:burlywood ;
    padding: 10px;
    border: 1px solid darkgreen;
    margin: 10px;
}

.item:nth-child(2) {
    flex-basis: 50px;
    height: 50px;
    align-self: end;
}
.item:last-child {
    flex-basis: 80px;
    height: 80px;
}


/*.box:last-child {
    background-color: gold;
}*/

/*.box:first-child {
    background-color: gold;*/

/*.box:not(:first-child) {
    background-color: gold;
}*/

/*.box:nth-child(2) {
    background-color: gold;
}*/

/*.box:nth-child(even) {
    background-color: gold;
}*/

